<% content_for(:timelines) do %>
	Timeline.loadXML("<%= "#{url_for(@user)}.xml" %>", function(xml, url) { eventSource.loadXML(xml, url); });
<% end %>

<div id="primaryContent_2columns">

	<div id="columnA_2columns">
<h3><%= link_to @user.name %></h3>
	
	<div id="avatar"><img src="http://www.gravatar.com/avatar.php?gravatar_id=<%= Digest::MD5.new.update(@user.email) %>&rating=G&size=50"/></div>
	<div id="status">
		<% unless @status.nil? -%>
			<%= render :partial => 'display_status' %>
		<% else -%>
			<p>hasn't posted a status yet.</p>
		<% end -%>
	</div>

		<%= render :partial => "statuses/form", :locals => { :user => @user } %>

		<%= render :partial => "achievements/form", :locals => { :user => @user } %>

		<ul>
		<% Achievement.find(:all).each do |ach| -%>
		<li><b><%= ach.user.name %>:</b> <%= ach.description %></li>
		<% end -%>
		</ul>

	</div>

</div>

<div id="secondaryContent_2columns">

	<div id="columnC_2columns">
		<div id="user-achievements">
			<% User.find(:all).each do |user| -%>
			  <h4><img src="http://www.gravatar.com/avatar.php?gravatar_id=<%= Digest::MD5.new.update(user.email) %>&rating=G&size=30"/> <%= link_to user.name, user %></h4>
			  <% status = user.statuses.find_active.first %>
			  <div class="side-status"><%= status.description unless status.nil? %></div>
			  <ul>
				<% user.achievements.each do |ach| -%>
				<li><%= ach.description %></li>
				<% end -%>
			  </ul>
			<% end -%>
		</div>
		
	</div>

</div>







