<% content_for(:timelines) do %>
	Timeline.loadXML("<%= "#{url_for(@user)}.xml" %>", function(xml, url) { eventSource.loadXML(xml, url); });
<% end %>

<div id="primaryContent_2columns">

	<div id="columnA_2columns">
<h3><%= link_to @user.name %></h3>
	
		<% unless @status.nil? -%>
			<%= render :partial => 'display_status' %>
		<% else -%>
			<p>hasn't posted a status yet.</p>
		<% end -%>

		<%= render :partial => "statuses/form", :locals => { :user => @user } %>

		<div id="timeline" style="width: 100%; height: 500px; border: 1px solid #aaa">
		</div>

	</div>

</div>

<div id="secondaryContent_2columns">

	<div id="columnC_2columns">
		<div id="user-achievements">
			<%= render :partial => "achievements/form", :locals => { :user => @user } %>
		</div>
		
	</div>

</div>







